<launch>
  <arg name="debug" default="false" />
  <node pkg="voxel_motion_strategy" type="voxel_motion_strategy_node"
        name="voxel_motion_strategy_node" output="screen">
    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(find voxel_motion_strategy)/configs/rosconsole_debug.conf"
         if="$(arg debug)" />
  </node>
</launch>
